<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzqx.mvc.dao.CmdListMapper">
  <resultMap id="BaseResultMap" type="com.zzqx.mvc.entity.CmdList">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="direct_list_name" jdbcType="VARCHAR" property="directListName" />
    <result column="direct_list" jdbcType="VARCHAR" property="directList" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, direct_list_name, direct_list, description, tcp_ip, tcp_port, tcp_source
  </sql>
  <select id="selectByExample" parameterType="com.zzqx.mvc.entity.CmdListExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_cmd_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_cmd_list
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <!--分页数据List 有选择的查询-->
  <select id="getList" resultType="com.zzqx.mvc.entity.CmdList" parameterType="com.zzqx.mvc.dto.CmdListDto">
      SELECT
      <include refid="Base_Column_List" />
      from tb_cmd_list
      <where> 1=1
        <if test="directListName != null">
          and `direct_list_name` LIKE CONCAT('%',#{directListName},'%')
        </if>
        <if test="description != null">
          and `description` LIKE CONCAT('%',#{description},'%')
        </if>
      </where>
        limit #{limit0},#{limit1}
  </select>
  <select id="getListCount" resultType="com.zzqx.mvc.entity.CmdList" parameterType="com.zzqx.mvc.dto.CmdListDto">
    SELECT
    <include refid="Base_Column_List" />
    from tb_cmd_list
    <where> 1=1
      <if test="directListName != null">
        and `direct_list_name` LIKE CONCAT('%',#{directListName},'%')
      </if>
      <if test="description != null">
        and `description` LIKE CONCAT('%',#{description},'%')
      </if>
    </where>
  </select>
  <!--排除指令的所有数据-->
  <select id="getListExcludeDirectList" resultType="com.zzqx.mvc.vo.CmdListOneVo" >
    SELECT * from tb_cmd_list
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_cmd_list
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzqx.mvc.entity.CmdListExample">
    delete from tb_cmd_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzqx.mvc.entity.CmdList">
    insert into tb_cmd_list (id, direct_list_name, direct_list, 
      description)
    values (#{id,jdbcType=VARCHAR}, #{directListName,jdbcType=VARCHAR}, #{directList,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <!--主键uuid-->
  <insert id="insertSelective" parameterType="com.zzqx.mvc.entity.CmdList">
    <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
      select replace(uuid(),'-','') from dual
    </selectKey>
    insert into tb_cmd_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="directListName != null">
        direct_list_name,
      </if>
      <if test="directList != null">
        direct_list,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="tcpIp != null">
        tcp_ip,
      </if>
      <if test="tcpPort != null">
        tcp_port,
      </if>
      <if test="tcpSource != null">
        tcp_source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="directListName != null">
        #{directListName,jdbcType=VARCHAR},
      </if>
      <if test="directList != null">
        #{directList,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="tcpIp != null">
        #{tcpIp,jdbcType=VARCHAR},
      </if>
      <if test="tcpPort != null">
        #{tcpPort,jdbcType=VARCHAR},
      </if>
      <if test="tcpSource != null">
        #{tcpSource,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzqx.mvc.entity.CmdListExample" resultType="java.lang.Long">
    select count(*) from tb_cmd_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_cmd_list
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.directListName != null">
        direct_list_name = #{record.directListName,jdbcType=VARCHAR},
      </if>
      <if test="record.directList != null">
        direct_list = #{record.directList,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_cmd_list
    set id = #{record.id,jdbcType=VARCHAR},
      direct_list_name = #{record.directListName,jdbcType=VARCHAR},
      direct_list = #{record.directList,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzqx.mvc.entity.CmdList">
    update tb_cmd_list
    <set>
      <if test="directListName != null">
        direct_list_name = #{directListName,jdbcType=VARCHAR},
      </if>
      <if test="directList != null">
        direct_list = #{directList,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="tcpIp != null">
        tcp_ip = #{tcpIp,jdbcType=VARCHAR},
      </if>
      <if test="tcpPort != null">
        tcp_port = #{tcpPort,jdbcType=VARCHAR},
      </if>
      <if test="tcpSource != null">
        tcp_source = #{tcpSource,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzqx.mvc.entity.CmdList">
    update tb_cmd_list
    set direct_list_name = #{directListName,jdbcType=VARCHAR},
      direct_list = #{directList,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>